<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My list</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap3.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/templates/jquery-calendar-with-tooltip/css/calendar.css">
    <script src="/templates/jquery-calendar-with-tooltip/js/jquery.min.js"></script>
    <script src="/templates/jquery-calendar-with-tooltip/js/calendar.js"></script>

</head>
<body>
<div class="container">
    <div class="nav"><h1>My todo list</h1></div>
    <div class="row">
        <div class="col-md-2 content-left">
            <div id="calendar" class="calendar">
                <div style="text-align:center;clear:both">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{##}